/*SIDEBAR*/
#sidebar{
    z-index: 1;
    top: 0px;
    position: fixed;
    width: 200px;
    height: 100vh;
    background: #151719;
    transition: 200ms all linear;
}


#sidebar ul li{
    color: rgba(230,230,230,0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
    cursor: pointer;
}

#sidebar ul{
    padding-left: 0px;
}

#sidebar .toggle-btn{
    position: absolute;
    left: 230px;
    top: 20px;
}

#sidebar .active {
    background-color: #292D30;
}

/*.active{
    background-color: #292D30;
}*/

.dropdown-btn:hover {
    background-color: #292D30;
}

#sidebar .toggle-btn span{
    display: block;
    width: 30px;
    height: 5px;
    background: #151719;
    margin: 3px 0px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}

/*END SIDEBAR*/

.test::after {
    content: caret;
}
/*ACCORDION STYLE*/
.accordion {
    background-color: #FFF;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:hover {
    background-color: #E2E2E2; 
}


.panel-accordion {
    border-top: 1px solid rgba(100,100,100,0.3);
    padding: 8px 18px;
    display: none;
    background-color: #FFF;
    overflow: hidden;
    margin-bottom: 10px;
}
/*END ACCORDION STYLE*/

/*TABLE SCROLLABLE*/
.scrollable{
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}

.scrollable tbody{
    display:block;
    width: 100%;
    overflow: auto;
    height: 30vh;
}

.scrollable thead tr {
    display: block;
}

.scrollable thead {
    background: black;
    color:#fff;
}

.scrollable th, .scrollable td {
    padding: 5px;
    text-align: left;
    width: 200px;
    overflow:hidden;
}

table{
    font-family: Tahoma;
}
/*END TABLE SCROLLABLE-y*/

/*TAB*/
p {
    margin-bottom: 0px;
}

.tab-left {
    display: inline-block;
    padding: 10px;
}

.tab-right { 
       display:inline-block; 
       margin-left: 100px; 
       padding: 10px;
}
/*END OF TAB*/